extends layout/default

block content
  .container.theme-showcase(role='main')
    //- Main jumbotron for a primary marketing message or call to action
    .jumbotron
      h1 Angler Spy Image Chooser
      p Choose the best image by hitting the 'Use This!' button.

    .page-header
      h1= pageTitle
    .well
      p Choose the best image by hitting the "Use This!" button.  Look for a pop-up message that affirms your image was chosen.  If you do not get a pop-up message then IT DID NOT WORK! Please try again if you don't get a pop-up message.  If trying again does not work, try logging out and then log back in, and try again.  If it still does not work then please let us know at hello@anglerspy.com so we can take a look.  If you would like to change your picture choice, just hit a different 'Use This!' button and a new picture will be selected.  Your chosen picture should make it into the system within about 20 minutes.  If your chosen picture does not wind up on the site, or on your dashboard, please send us a message at hello@anglerspy.com so we can figure out what happened.  This is an important piece of what we're trying to do so THANK YOU!

    .page-header
      h1 Here are your choices
      p.lead We blasted about 10 pictures using various camera settings..

    h3 Disks are primary
    p
      | Please remember 
      strong the primary objective of these images is to see this disks
      |  but not necessarily judge the 'color' of the water. Thanks for playing!
    .row
      each val, key in data
        if typeof val === 'object' && key.match(/^IMAGE/)
          .col-md-4
            img.img-responsive(src=val.URL)
            br
            p
              a.btn.btn-lg.btn-default(href=val.URL target='_blank') Visit URL
              button.btn.btn-lg.btn-primary.gen-json(type='button' data-image-key=key) Use This!

block script
  //- Placed at the end of the document so the pages load faster
  //- script(src='/javascripts/vendor/docs.min.js')
  //- IE10 viewport hack for Surface/desktop Windows 8 bug
  script(src='/javascripts/ie10-viewport-bug-workaround.js')

  script.
    +function (window, jQuery, document) {
      $(function() {
        
        $('.gen-json').on('click', function () {
          $.ajax({
            method: 'post',
            data: {
              imageKey: $(this).data('image-key'),
            },
            url: location.pathname,
            success: function() {
              alert('Got your image choice!');
            },
            error: function(err) {
              console.log(err);
            }
          })
        });

      });
    } (window, window.jQuery, document);
